.jobCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    background-color: lightsteelblue;
    font-size: 16px;

}

.status-icon-accept {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: mediumseagreen;
    color: white;
    text-align: center;
    line-height: 16px;
}
.status-icon-reject {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: darkred;
    color: white;
    text-align: center;
    line-height: 16px;
    margin-right: 0.5vh;
}
.status-accepted{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border-radius: 3vh;
    width: 20vh;
    height: 1.8vh;
    justify-content: space-around;
    border: 1px solid mediumseagreen;
    padding: 1px;
    margin-left: 1vh;
    margin-top: 0.4vh;
    align-items: center;
}
.status-rejected{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border-radius: 3vh;
    width: 17vh;
    height: 1.8vh;
    justify-content: space-around;
    border: 1px solid darkred;
    padding: 1px;
    margin-left: 1vh;
    margin-top: 0.4vh;
    align-items: center;
}
.jobCardDetails{
    width: 100%;
    height: 80vh;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
    font-size: 20px;
    color: darkslategray;
}
.status-text-accepted{
    color: mediumseagreen;
}
.status-text-rejected{
    color: darkred;
}
.jobCard p {
    margin-left:1vh;
    margin-top:0.5vh;
    margin-bottom: 0.5vh;
}
.accept-button{
    background-color:mediumseagreen;
    font-family: monospace;

}
.reject-button{
    background-color: darkred;
    font-family: monospace;
}