.CalendarWrapper {
    width: 100%;
    border-collapse: collapse;
}
.CalendarNav{
    display: flex;
    justify-content: space-around;
}
.highlight-current{
background-color: lightgreen;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}
.highlight-event{
background-color: lightsteelblue;
border-radius: 50%;
    width: 15px;
    height: 25px;
}
.CalendarThread th {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;

}
.CalendarThread th:first-child,
.CalendarThread td:first-child {
    color: red;
}

.CalendarThread th:last-child,
.CalendarThread td:last-child {
    color: blue;
}

.CalendarThread th,
.CalendarThread td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.CalendarWrapper td {
    text-align: center;
    padding: 10px;

}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.ModalContent h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.ModalContent form div {
    margin-bottom: 10px;
}

.ModalContent form label {
    display: block;
    font-weight: bold;
}

.ModalContent form input,
.ModalContent form textarea,
.ModalContent form select {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.ModalContent form textarea {
    height: 100px;
}

.ModalContent form button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ModalContent form button:hover {
    background-color: dodgerblue;
}
.CalendarThread td.hasEvent:hover {
    background-color: yellow;
}
.EventList {
    margin-top: 20px;
}

.EventList h3 {
    margin: 0;
    font-size: 16px;
}

.EventList ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.EventList li {
    margin-bottom: 10px;
}
.Carousel{
    display: flex;
    overflow: hidden;
    position: relative;
    overflow-x:scroll;
    flex-wrap: nowrap;
}
.Entrys {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    background-size: cover;
    font-size: 20px;
    line-height: 20px;
}
.EntryButton{
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
}
.notes{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    overflow: auto;
    height:25vh;
}
