.CalendarWrapper {
    width: 100%;
    border-collapse: collapse;
}

.CalendarThread th {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.CalendarWrapper td {
    text-align: center;
    padding: 10px;
}

.CalendarWrapper .highlight {
    background-color: #ffcc00;
}

